<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:09:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.addToCart()[pri:8, instance:runner.Runner@133e16fd]">addToCart</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:09:02</td>   <td>-46273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.bulkOrder()[pri:6, instance:runner.Runner@133e16fd]">bulkOrder</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:10:21</td>   <td>32649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.cartDetails()[pri:9, instance:runner.Runner@133e16fd]">cartDetails</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:26</td>   <td>-82562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.checkUserStoriesForProducts()[pri:3, instance:runner.Runner@133e16fd]">checkUserStoriesForProducts</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:22</td>   <td>-86064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.differentPaymentMethods()[pri:1, instance:runner.Runner@133e16fd]">differentPaymentMethods</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:58</td>   <td>-50304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.help(java.lang.String)[pri:5, instance:runner.Runner@133e16fd]">help</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:58</td>   <td>-50304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.help(java.lang.String)[pri:5, instance:runner.Runner@133e16fd]">help</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:07:54</td>   <td>-113628</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.initialize(org.testng.ITestContext)[pri:0, instance:runner.Runner@133e16fd]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:09:30</td>   <td>-17775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.logIn(java.lang.String,java.lang.String)[pri:7, instance:runner.Runner@133e16fd]">logIn</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:09:30</td>   <td>-17775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.logIn(java.lang.String,java.lang.String)[pri:7, instance:runner.Runner@133e16fd]">logIn</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:22</td>   <td>-85786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.navbarValidation()[pri:2, instance:runner.Runner@133e16fd]">navbarValidation</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:19</td>   <td>-89583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searcProduct(java.lang.String)[pri:0, instance:runner.Runner@133e16fd]">searcProduct</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:19</td>   <td>-89583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searcProduct(java.lang.String)[pri:0, instance:runner.Runner@133e16fd]">searcProduct</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:10:33</td>   <td>44881</td> <td>&nbsp;</td><td title="&lt;&lt;Runner.tearDown()[pri:0, instance:runner.Runner@133e16fd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:42</td>   <td>-66328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.trackOrder(java.lang.String,java.lang.String)[pri:4, instance:runner.Runner@133e16fd]">trackOrder</td> 
  <td>main@1225197672</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>21/09/26 18:08:42</td>   <td>-66328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.trackOrder(java.lang.String,java.lang.String)[pri:4, instance:runner.Runner@133e16fd]">trackOrder</td> 
  <td>main@1225197672</td>   <td></td> </tr>
</table>
