<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>runner.Runner</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>help</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkUserStoriesForProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>trackOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>differentPaymentMethods</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cartDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searcProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navbarValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bulkOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
