<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.logIn(java.lang.String,java.lang.String)[pri:7, instance:runner.Runner@17695df3]">logIn</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:12</td>   <td>-77825</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.initialize(org.testng.ITestContext)[pri:0, instance:runner.Runner@17695df3]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:59</td>   <td>-30956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.navbarValidation()[pri:3, instance:runner.Runner@17695df3]">navbarValidation</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:42:14</td>   <td>44371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.cartDetails()[pri:9, instance:runner.Runner@17695df3]">cartDetails</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:48</td>   <td>17799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.addToCart()[pri:8, instance:runner.Runner@17695df3]">addToCart</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:03</td>   <td>-26513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.differentPaymentMethods()[pri:4, instance:runner.Runner@17695df3]">differentPaymentMethods</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:54</td>   <td>-35536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.help(java.lang.String)[pri:2, instance:runner.Runner@17695df3]">help</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:04</td>   <td>-26106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.bulkOrder()[pri:5, instance:runner.Runner@17695df3]">bulkOrder</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:54</td>   <td>-35536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.help(java.lang.String)[pri:2, instance:runner.Runner@17695df3]">help</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:41</td>   <td>-49272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.trackOrder(java.lang.String,java.lang.String)[pri:1, instance:runner.Runner@17695df3]">trackOrder</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:29</td>   <td>-61129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searcProduct(java.lang.String)[pri:0, instance:runner.Runner@17695df3]">searcProduct</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:08</td>   <td>-21945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.checkUserStoriesForProducts()[pri:6, instance:runner.Runner@17695df3]">checkUserStoriesForProducts</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:41:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.logIn(java.lang.String,java.lang.String)[pri:7, instance:runner.Runner@17695df3]">logIn</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:42:28</td>   <td>58130</td> <td>&nbsp;</td><td title="&lt;&lt;Runner.tearDown()[pri:0, instance:runner.Runner@17695df3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:41</td>   <td>-49272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.trackOrder(java.lang.String,java.lang.String)[pri:1, instance:runner.Runner@17695df3]">trackOrder</td> 
  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:42:32</td>   <td>62418</td> <td title="&lt;&lt;Runner.sendMail()[pri:0, instance:runner.Runner@17695df3]">&lt;&lt;sendMail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@683962652</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/26 15:40:29</td>   <td>-61129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searcProduct(java.lang.String)[pri:0, instance:runner.Runner@17695df3]">searcProduct</td> 
  <td>main@683962652</td>   <td></td> </tr>
</table>
